@import '../../mixin.module.scss';

.profile {
    @include size(204px, 204px);
    border-radius: 50%;
    @include if-mobile {
        margin: 1rem 0 2rem 0;
    }
    margin: 1rem 0 1rem 5rem;
    box-shadow: 0 0 5px 3px gray;
}

.introduce {
    @include font($black, normal, 300, 1.8rem);
}
