@import '../../mixin.module.scss';

.Footer {
    margin-top: 6rem;
    text-align: center;
    a {
        text-decoration: none;
        @include font($em, normal, 400, 1.5rem);
        &:hover {
            color: $em;
            text-decoration: underline;
        }
    }
}
